@import url("https://use.typekit.net/wrl1xwi.css");

:root {
  --font-1: neue-haas-grotesk-display;
}

header {
  height: 100vh;
}
h3 {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 2.3em;
  margin: 0;
  color: var(--color-2);
  letter-spacing: 1vw;
  margin-left: 1vw;
}

main p {
  font-family: var(--font-1);
  color: var(--color-3);
  letter-spacing: 0.3vw;
  font-size: 1.17em;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
}

header img {
  max-width: 100%;
  margin-left: 3vw;
}

#intro {
  display: block;
  margin-left: auto;
  margin-right: 3vw;
}

#arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 2em;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dot {
  height: 5vw;
  width: 5vw;
  background-color: var(--color-3);
  border-radius: 50%;
  display: inline-block;
  margin-left: 2vw;
  margin-right: 2vw;
}

.dotempty {
  height: 5vw;
  width: 5vw;
  border: 1px solid;
  border-color: var(--color-3);
  border-radius: 50%;
  display: inline-block;
  margin-left: 2vw;
  margin-right: 2vw;
}

h4 {
  min-width: 90px;
  color: var(--color-2);
  font-family: var(--font-1);
  font-weight: 200;
  font-size: 1.2em;
}

.bold {
  font-size: 1.2em;
  letter-spacing: 0.6vw;
  text-decoration: underline;
}

section {
  margin-bottom: 5em;
  margin-left: 3vw;
  margin-right: 3vw;
}

#homeBtn {
  display: none;
}

#jadesktop {
  display: none;
}

section h3 {
  display: none;
}

@media only screen and (min-width: 775px) {
  /*generalne*/
  header div {
    display: none;
  }

  nav a:link {
    color: var(--color-2);
  }
  nav a:hover {
    color: var(--color-2);
  }
  nav a:active {
    color: var(--color-2);
  }
  nav a:visited {
    color: var(--color-2);
  }
  header {
    margin: 0;
    display: inline;
    height: auto;
  }
  ul {
    flex-direction: row;
    margin-right: -4vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 2vw;
  }
  #homeBtn {
    display: inline;
  }
  .circle {
    border: none;
    height: 0;
    line-height: 0;
  }

  .circle:hover {
    background-color: transparent;
    transform: scale(0.9);
    animation-fill-mode: forwards;
  }

  ul {
    line-height: 0;
    font-size: 1em;
  }

  li:hover {
    text-decoration: underline;
    color: var(--color-2);
    transform: scale(0.9);
    animation-fill-mode: forwards;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*tylko do about*/

  #jadesktop {
    display: inline;
  }
  #jamobile {
    display: none;
  }

  #arrow {
    display: none;
  }

  #intro {
    display: none;
  }
  #aboutme {
    grid-area: me;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  #skills {
    grid-area: skills;
    margin: 0;
    display: none;
  }
  #dots {
    grid-area: dots;
  }
  section {
    margin-bottom: 0;
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 0;
  }
  main img {
    grid-area: img;
    max-width: 80%;
    margin-top: auto;
    margin-bottom: auto;
  }
  main {
    display: grid;

    grid-template-areas:
      "img me me"
      "img dots .";
    grid-template-columns: 30% 35% 35%;
  }
  section h3 {
    display: inline;
  }

  .dot {
    height: 1.5vw;
    width: 1.5vw;
    background-color: var(--color-3);
    border-radius: 50%;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .dotempty {
    height: 1.3vw;
    width: 1.3vw;
    border: 1px solid;
    border-color: var(--color-3);
    border-radius: 50%;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  section div {
    margin-left: -3vw;
    line-height: 0vw;
  }
  section h4 {
    font-size: 2vw;
  }
  main p {
    font-size: 1.4vw;
    margin-bottom: 5vw;
    margin-right: 4vw;
    text-align: left;
    letter-spacing: 0.1vw;
    padding: 0;
  }
  main h3 {
    font-size: 2.4vw;
    letter-spacing: 0.5vw;
  }
  div h4 {
    font-size: 1.7vw;
  }
  body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
  }
}
