@import url("https://use.typekit.net/wrl1xwi.css");

:root {
  --font-1: neue-haas-grotesk-display;
}
html {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}
h3 {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 2.3em;
  color: var(--color-2);
  letter-spacing: 1vw;
}

/*Ze stronki foto gosi*/
.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 395px));
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.portfolioArticle {
  max-width: 100%;
}
.portfolioArticle a {
  text-decoration: none;
  color: #111;
}

.portfolioPhotoBox {
  width: 24.6rem;
  height: 18.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.fisherbear {
  background-image: url(img/fisherbear.png);
  justify-content: center;
}

.timefortee {
  background-image: url(img/time4tee.png);
}

.cherrypop {
  background-image: url(img/cherrypop.png);
}

.wineful {
  background-image: url(img/wineful2.png);
}

.memover {
  background-image: url(img/memover.png);
}

.photoboxText {
  width: 24.6rem;
  height: 18.5rem;
  transition: opacity 0.25s;
  background-color: rgba(107, 115, 125, 0.85);
}

.photoboxText > * {
  transform: translateY(-20px);
  transition: transform 0.25s;
}

.photoboxText h4 {
  position: relative;
  font-size: 1.5em;
  top: 6vh;
  font-family: var(--font-1);
  font-weight: 200;
  color: var(--color-3);
  text-transform: uppercase;
  text-align: center;
}
.photoboxText p {
  position: relative;
  font-size: 1.2rem;
  top: 5vh;
  color: var(--color-3);
  font-family: var(--font-1);
  font-weight: 200;
  left: 3em;
  margin: 1vw;
  margin-left: 2vw;
}

.photoboxText:hover {
  opacity: 0;
}

.photoboxText:hover > * {
  transform: translateY(0);
}

.visitBtn {
  text-decoration: underline;

  text-align: right;
  font-family: var(--font-1);
  color: var(--color-3);
  letter-spacing: 0.3vw;
  font-size: 1.2em;
  margin-top: -2em;
  margin-right: 2em;
}
#homeBtn {
  display: none;
}
@media only screen and (max-width: 400px) {
  html {
    overflow-y: hidden;
  }
  body {
    justify-content: center;
  }
  .portfolioPhotoBox {
    margin-left: auto;
    margin-right: auto;
    width: 22em;
  }
  .photoboxText {
    margin-left: auto;
    margin-right: auto;
    width: 22em;
  }
  #homeBtn {
    display: none;
  }
}

@media only screen and (min-width: 775px) {
  /*generalne*/
  header div {
    display: none;
  }

  nav a:link {
    color: var(--color-2);
  }
  nav a:hover {
    color: var(--color-2);
  }
  nav a:active {
    color: var(--color-2);
  }
  nav a:visited {
    color: var(--color-2);
  }
  header {
    margin: 0;
    display: inline;
    height: auto;
  }
  ul {
    flex-direction: row;
    margin-right: -4vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 2vw;
  }
  #homeBtn {
    display: inline;
  }
  .circle {
    border: none;
    height: 0;
    line-height: 0;
  }

  .circle:hover {
    background-color: transparent;
    transform: scale(0.9);
    animation-fill-mode: forwards;
  }

  ul {
    line-height: 0;
    font-size: 1em;
  }

  li:hover {
    text-decoration: underline;
    color: var(--color-2);
    transform: scale(0.9);
    animation-fill-mode: forwards;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*tylko projects*/
  h3 {
    margin-left: 5vw;
  }
  .visitBtn {
    display: none;
  }
}
