@import url("https://use.typekit.net/wrl1xwi.css");

:root {
  --font-1: neue-haas-grotesk-display;
}
html {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}
h3 {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 2.3em;
  color: var(--color-2);
  letter-spacing: 1vw;
}

/*Ze stronki foto gosi*/
.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 395px));
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.portfolioArticle {
  max-width: 100%;
}
.portfolioArticle a {
  text-decoration: none;
  color: #111;
}

.portfolioPhotoBox {
  width: 24.6rem;
  height: 18.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.fisherbear {
  background-image: url(img/fisherbear.png);
}

.timefortee {
  background-image: url(images/at_portfolio_35mm/at1.jpg);
}

.anas {
  background-image: url(images/asch_portfolio_photos/image00004.jpeg);
}

.alex {
  background-image: url(images/ac_portfolio_photos/image00001.jpeg);
}

.kasia {
  background-image: url(images/xafex/kasia1.jpeg);
}

.photoboxText {
  width: 24.6rem;
  height: 18.5rem;
  transition: opacity 0.25s;
  background-color: rgba(107, 115, 125, 0.7);
}

.photoboxText > * {
  transform: translateY(-20px);
  transition: transform 0.25s;
}

.photoboxText h4 {
  position: relative;
  font-size: 1.5em;
  top: 6vh;
  font-family: var(--font-1);
  font-weight: 200;
  color: var(--color-3);
  text-transform: uppercase;
  text-align: center;
}
.photoboxText p {
  position: relative;
  font-size: 1.2rem;
  top: 5vh;
  color: var(--color-3);
  font-family: var(--font-1);
  font-weight: 200;
  left: 3em;
  margin: 1vw;
  margin-left: 2vw;
}

.photoboxText:hover {
  opacity: 0;
}

.photoboxText:hover > * {
  transform: translateY(0);
}

.visitBtn {
  text-decoration: underline;

  text-align: right;
  font-family: var(--font-1);
  color: var(--color-3);
  letter-spacing: 0.3vw;
  font-size: 1.2em;
  margin-top: -2em;
  margin-right: 5vw;
}
